In [8]:
f = open("US_births_1994-2003_CDC_NCHS.csv", "r")
content = f.read()
content_lines = content.split("\n")
content_lines[0:10]

['year,month,date_of_month,day_of_week,births',
 '1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053',
 '1994,1,6,4,11406',
 '1994,1,7,5,11251',
 '1994,1,8,6,8653',
 '1994,1,9,7,7910']

In [9]:
def read_csv(file_name):
    f = open(file_name, "r")
    content = f.read()
    string_list = content.split("\n")[1:len(content)-1]
    final_list = []
    for item in string_list:
        final_list.append(item.split(","))
    return final_list

In [64]:
cdc_list = read_csv("US_births_1994-2003_CDC_NCHS.csv")
cdc_list[3287:3288]

[['2003', '1', '1', '3', '7783']]

In [11]:
def month_births(data):
    births_per_month = {}
    for item in data:
        if int(item[1]) in births_per_month:
            births_per_month[int(item[1])] += int(item[4])
        else:
            births_per_month[int(item[1])] = int(item[4])
    return births_per_month

In [12]:
cdc_month_births = month_births(cdc_list)
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [13]:
def dow_births(data):
    births_per_dayweek = {}
    for item in data:
        if int(item[3]) in births_per_dayweek:
            births_per_dayweek[int(item[3])] += int(item[4])
        else:
            births_per_dayweek[int(item[3])] = int(item[4])
    return births_per_dayweek

In [14]:
cdc_day_births = dow_births(cdc_list)
cdc_day_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

In [15]:
def calc_counts(data, column):
    results = {}
    for item in data:
        if int(item[column]) in results:
            results[int(item[column])] += int(item[4])
        else:
            results[int(item[column])] = int(item[4])
    return results

In [16]:
cdc_year_births = calc_counts(cdc_list, 0)
cdc_month_births = calc_counts(cdc_list, 1)
cdc_dom_births = calc_counts(cdc_list, 2)
cdc_month_births = calc_counts(cdc_list, 3)

In [19]:
cdc_month_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

In [1]:
def min(data):
    minimum = data[0] 
    for item in data:
        if item < minimum:
            minimum = item
    return minimum
def max(data):
    maximum = data[0] 
    for item in data:
        if item > maximum:
            maximum = item
    return maximum

In [20]:
def by_year(data, column, value):
    results = {}
    for item in data:
        if item[column] == value and int(item[0]) in results:
            results[int(item[0])] += int(item[4])
        elif item[column] == value:
            results[int(item[0])] = int(item[4])
    return results

In [22]:
by_year(cdc_list, 3, '6')

{1994: 474732,
 1995: 459580,
 1996: 456261,
 1997: 450840,
 1998: 453776,
 1999: 449985,
 2000: 469794,
 2001: 453928,
 2002: 445770,
 2003: 447445}

In [57]:
ssa_list = read_csv("US_births_2000-2014_SSA.csv")
ssa_list[1090:1100]

[['2002', '12', '26', '4', '11242'],
 ['2002', '12', '27', '5', '13650'],
 ['2002', '12', '28', '6', '9114'],
 ['2002', '12', '29', '7', '8035'],
 ['2002', '12', '30', '1', '13158'],
 ['2002', '12', '31', '2', '12582'],
 ['2003', '1', '1', '3', '7908'],
 ['2003', '1', '2', '4', '11124'],
 ['2003', '1', '3', '5', '12252'],
 ['2003', '1', '4', '6', '8519']]

In [54]:
def merge_births_list(list1, list2):
    results = []
    for item1 in list1:
        same = False
        for item2 in list2:
            if item1[0] == item2[0] and item1[1] == item2[1] and item1[2] == item2[2] and item1[3] == item2[3]:
                same = True
                if(item1[0] == '2003' and item1[1] == '1'):
                    print(item1[4])
                    print(item2[4])
                    print("--------")
                # result_item = item1

                # result_item[4] = (int(result_item[4]) + int(item2[4])) / 2
                # results.append(result_item)
            else:
                results.append(item2)
        if not same:
            results.append(item1)
    return results

In [55]:
merge_births_list(cdc_list, ssa_list)[1090:1100]

7907.5
7908
--------
11123.5
11124
--------
12251.5
12252
--------
8518.5
8519
--------
7494.5
7495
--------
11363.5
11364
--------
12656.5
12657
--------
12166.5
12167
--------
12080.5
12081
--------
12516.5
12517
--------
8470.5
8471
--------
7296.5
7297
--------
11196.5
11197
--------
12917.5
12918
--------
12139.5
12140
--------
12135.5
12136
--------
12109.5
12110
--------
8430.5
8431
--------
7497.5
7498
--------
11044.5
11045
--------
12287.5
12288
--------
12096.5
12097
--------
12184.5
12185
--------
12106.5
12107
--------
8378.5
8379
--------
7388.5
7389
--------
11417.5
11418
--------
12594.5
12595
--------
12099.5
12100
--------
12288.5
12289
--------
11988.5
11989
--------

[['2002', '12', '26', '4', '11242'],
 ['2002', '12', '27', '5', '13650'],
 ['2002', '12', '28', '6', '9114'],
 ['2002', '12', '29', '7', '8035'],
 ['2002', '12', '30', '1', '13158'],
 ['2002', '12', '31', '2', '12582'],
 ['2003', '1', '1', '3', '7908'],
 ['2003', '1', '2', '4', '11124'],
 ['2003', '1', '3', '5', '12252'],
 ['2003', '1', '4', '6', '8519']]